* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.todos-container {
  width: 500px;
  height: 100vh;
}

header {
  width: 100%;
  height: 100px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.input-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border: black solid 1px;

  & input {
    width: 90%;
    font-size: 1.5rem;
    border: none;
    padding: 10px;

    &:focus {
      outline: 0;
    }

  }

  & .all-com {
    width: 10%;
    background: none;
    border: none;

    & button{
      transform: rotate(90deg);
      width: 100%;
      height: 100%;
      border: none;
      background: none;
      cursor: pointer;
    }
  }
}

.todos-content {
  width: 100%;
  flex-direction: column;
  align-content: space-between;
  display: none;

  &.active {
    display: flex;
  }
}

.todoList li {
  display: flex;
  width: 100%;
  min-height: 60px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  gap: 10px;
  padding: 5px;
  position: relative;

  &.completed {

    border-bottom: 1px solid #8f8f8f;

    & p {
      text-decoration: line-through;
      color: #8f8f8f;
    }

    & .check-btn {
      border: #8f8f8f 1px solid;
      color: #8f8f8f;
    }

    .del-btn {
      position: absolute;
      color: #8f8f8f;
    }
  }

  &:hover .del-btn {
    display: block;
  }

  & .li-container {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  & .check-btn {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
  }

  & p {
    font-size: 1.5rem;
    max-width: 350px;
    overflow-wrap: break-word ;

    & input{
      width: 100%;
      height: 50px;
      font-size: 1.5rem;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  & .del-btn {
    font-size: 2rem;
    cursor: pointer;
    display: none;
    background: none;
    border: none;
    position: absolute;
    right:0;
  }
}

.setting {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;

  & button {
    padding: 5px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1rem;
  }
}

.tab {
  display: flex;
  gap: 10px;

  & button.isActive {
    border: 1px solid red
  }
}